---
import MainLayout from "@/layouts/MainLayout.astro";
import {SITE} from "@/data_files/constants"
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import CardBlog from "@components/sections/ui/cards/CardBlog.astro";

// Get all blogs post in English and sort them based on publish date

const englishBlogEntries = await getCollection("blog", ({ id }) => {
  return id.startsWith("en/");
});



const blogPosts: CollectionEntry<"blog">[] = englishBlogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Separate the most recent post from others
const mostRecentPost: CollectionEntry<"blog"> = blogPosts[0];
const otherPosts: CollectionEntry<"blog">[] = blogPosts.slice(1);

// Se definen las variables para el contenido de la pagina
const title: string = "Tu portal a toda la informacion referente a la seguridad";
const subTitle: string =
  "Explore las últimas noticias, consejos y perspectivas de Cordon de seguridad para mejorar sus proyectos de construcción. Desde productos destacados hasta estrategias de gestión de proyectos, nuestro blog es su recurso de referencia para todo lo relacionado con la ferretería y la construcción.";
const secondTitle: string = "Información";
const secondSubTitle: string =
  "Manténgase al día de las últimas tendencias y desarrollos en el sector de la seguridad con las opiniones del equipo de expertos del sector de Cordon de seguridad. ";

const pageTitle: string = `Blog | ${SITE.title}`;
---

<MainLayout
title={pageTitle}
structuredData={{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "https://CDS/blog",
  url: "https://CSS/blog",
  name: "Blog | cordon de seguridad",
  description:
    "mantente al dia con los mas altos estandares de la industria y noticias de cordon de seguridad",
  isPartOf: {
    "@type": "WebSite",
    url: "https://cordonseguridadltda.com.co",
    name: "ScrewFast",
    description:
      "Cordon ofrece servicios de primera con convacion , respeto , resposabilidad , honestidad , huminidad para cumplir su necesidades.",
  },
  inLanguage: "es-CO",
}}
>

<section
class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
>
<!--Page header-->
<div class="mx-auto max-w-3xl text-left sm:text-center">
  <h1
    class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
  >
    {title}
  </h1>

  <p
    class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
  >
    {subTitle}
  </p>
</div>
</section>
<section
class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
<!--Blog posts grid-->
<div class="grid gap-6 lg:grid-cols-2">
  {otherPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} />)}
</div>
</section>
<!--Most recent blog post-->

<!--Insights section-->
<section
class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
<div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
  <h2
    class="text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
  >
    {secondTitle}
  </h2>
  <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
    {secondSubTitle}
  </p>
</div>

</section>
</MainLayout>